body {
    color: $primary_color;
}

.btn {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid;
    border-color: #263972;
    background-color: #ffffff;
    color: #263972;
    font-weight: bold;

    &:hover {
        background-color: #263972;
        color: #ffffff;
        cursor: pointer;
    }
}

.clearfix {
    content: '';
    display: table;
    clear: both;
}
